<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProyectoFinal__Programacion3.My.MySettings.SistemaVentasConnectionString"
            connectionString="Data Source=DESKTOP-FJ5GJM4;Initial Catalog=SistemaVentas;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>